/*
Author : muhammed kado;
theme: Food order website admin;
color : #ff4757;
*/
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.wrapper{
 
    padding: 1%;
    width:80%;
    margin:0 auto;
}
.text-center{
    text-align: center;
}
.clearfix{
    float:none;
    clear:both
}
/*css for menu*/
.menu{
    border: 1px solid rgb(0, 0, 0);

}

.menu ul{
    list-style-type: none;
}
.menu ul li {

    display:inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color:#ff6b81;
}
.menu ul li a:hover{
    color:#ff8757;
}


/*css for main content*/
.main-content{
    background-color:#f1f2f6;
    padding:3% 0;
}
.col-4{
    width: 18%;
    background-color: white;
    margin:1%;
    padding:2%;
    float:left;
    
   


}



/* css for footer*/

.footer{
    background-color: #ff4757;
    color:white;
}